#bor{
	border:1px solid #b7b9bd;
	padding:8px;
	
}
#top_margin{
	margin-top: 200px;
}
#top_margin_small{
	margin-top: 40px;
}
#float_right{
	float: right;
}

#comment_body{
	border: 1px solid #d8d8d8;
	width:200px;
	padding:2px;
}

